target/
.idea/
*.iml
.DS_Store

ai-service/.venv/
ai-service/.runtime/
ai-service/__pycache__/
ai-service/runs/
logs/
uploads/
/ai-service/ai-watch/

.hvigor
.idea
oh_modules
.DS_Store

build
oh_modules
#build-profile.json5

.lh